{% block content %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
   <head>
   </head>
   <body>
      <!-- banner bg main start -->
      <div class="banner_bg_main">
         <!-- header top section start -->
         <!-- header top section start -->
         <!-- logo section start -->
         <div class="logo_section">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="logo"><a href="/"><h1>AVODHA SHOPING</h1><img src="{% static 'hm/images/logo.png' %}"></a></div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Another variation with a button -->
            <div class="input-group">
               <input type="text" class="form-control" placeholder="Search this blog">
                     <div class="input-group-append">
                        <button class="btn btn-secondary" type="button" style="background-color: #161312; border-color:#1d0e07 ">
                           <i class="fa fa-search"></i>
                              </button>
                                 </div>
                                    </div>
                                       </div>
         <!-- header section end -->
         <!-- banner section start -->
         <div class="banner_section layout_padding">
            <div class="container">
               <div id="my_slider" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <div class="row">
                           <div class="col-sm-12">
                              <h1 class="banner_taital"> FOOD<br>QUALITY FOOD ITEMS</h1>
                           </div>
                        </div>
                     </div>
   </body>
</html>

{% endblock %}
